# ignore these files on commite

# Visual Studio cache/options directory
.vs/
Release
Debug
ipch
x64


*.log
*.tlog
*.cache
*.rar
*.zip
*.ilk
*.cd
*.orig
*.ncb
*.suo
*.o
*.obj
*.lib
*.idb
*.manifest
*.pch
*.exp
*.user
*.pdb
*.db
*.opendb
*.asv
*.sdf
*.ipch
*.opensdf
*.deps




